#### Use pandas_datareader to access Yahoo! Finance database. Then query the company Amazon, data from 2012-10-1 to 2017-10-1.

In [2]:
## Use pandas_datareader to access Yahoo! Finance database
from datetime import datetime
import pandas_datareader.data as web

## Query the company Amazon
df = web.DataReader("amzn", 'yahoo',
                    start = datetime(2012, 10, 1),
                    end = datetime(2017, 10, 1))
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-10-01,255.399994,256.160004,250.490005,252.009995,252.009995,2581200
2012-10-02,252.800003,253.149994,249.029999,250.600006,250.600006,2195800
2012-10-03,251.210007,256.100006,249.559998,255.919998,255.919998,2745600
2012-10-04,256.010010,261.519989,255.869995,260.470001,260.470001,2700400
2012-10-05,261.200012,261.899994,257.489990,258.510010,258.510010,2806500

In [5]:
import plotly.plotly as py
import plotly.graph_objs as go 
import plotly.tools as tls

trace = go.Scatter(x=df.index,
                   y=df.High)

data = [trace]
layout = dict(
    title='AMZN from Yahoo! Finance<br>(from 2012-10-1 to 2017-10-1)',
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(count=1,
                    label='YTD',
                    step='year',
                    stepmode='todate'),
                dict(count=1,
                    label='1y',
                    step='year',
                    stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(),
        type='date'
    )
)

fig = dict(data=data, layout=layout)
#py.iplot(fig)

py.plot(fig, validate=False, filename='TimeSeries-YahooFiance' )
#tls.get_embed('https://plot.ly/~GULily/YahooFiance')

'https://plot.ly/~GULily/65'